name: "checks"

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: timeout 2m nix-shell -p nh --run "nh os build . -H desktop --no-nom --verbose" || [ $? -eq 124 ]

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix-shell -p treefmt nixfmt --run "treefmt --fail-on-change"